html {
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: #ff7a7a;
    font-family: 'Poppins';
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url(images/bg-intro-mobile.png);
}

#text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#title {
    align-self: center;
    color: white;
    font-size: 1.8rem; 
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

#subtitle {
    align-self: center;
    color: white;
    opacity: 70%;
    line-height: 1.8rem;
    text-align: center;
}

#form-cta-section {
    display: flex;
    flex-direction: column;
    
}

#cta-section {
    background-color: #6055a5;
    color: white;
    padding: 20px 50px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#form-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
}

.input {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    color: #3e3c49;
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid #b9b6d3;
    box-sizing: border-box;
    opacity: 80%;
}

.input-container {
    margin: auto;
    padding: 0px;
}

#button {
    background-color: #38cc8c;
    color: white;
    width: 100%;
    height: 45px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 0px 0px rgba(40, 156, 105, 1);
    text-align: center;
}

#button:hover {
    background-color: #57f2af;
}

#terms-section {
    color: #b9b6d3;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 10px;
}

#terms {
    color:#ff7a7a;
    font-weight: 600;
}

br {
    height: 0px;
}

@media all and (min-width: 550px) {
    body {
        background-image: url(images/bg-intro-desktop.png);
        flex-direction: row;
        padding: 150px;
    }

    #text-section {
        width: 50%;
        margin-right: 50px;
    }

    #form-cta-section {
        width: 50%;
    }

    #title {
        font-size: 4rem;
        line-height: 4.5rem;
        text-align: left;
    }

    #subtitle {
        text-align: left;
    }
}